@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.header {
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
}

.search-bar {
    width: 50%;
    position: relative;
    left: 25%;
    display: flex;
    align-items: center;
}

.serach {
    position: relative;
    height: 40px;
    width: 93%;
    border: none;
    background-color: #ff9978;
    color: #fff;
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
}

.button {
    cursor: pointer;
    border: none;
    transition: 0.3s;
    position: relative;
    width: 7%;
    height: 40px;
    background-color: #656a73;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button:hover {
    background-color: #868d99;
}

.nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}


.ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 200px;
    padding: 0;
    margin: 0;
}

.li {
    background-color: #cccbca;
    padding: 8px 30px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    position: relative;
}

.li:hover {
    background-color: #b1b0af;
}

.main {
    position: relative;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
    width: 100%;
    background-color: #c4edf1;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.article-1-info {
    border-radius: 10px;
    position: relative;
    width: 12%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91d3d9;
}

.article-2-info {
    position: relative;
    width: 30%;
    text-align: center;
}

.title-article-2-info {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.products {
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.product {
    cursor: pointer;
    width: 18%;
}

.product-image {
    width: 100%;
    border-radius: 10px;
}

.title-product {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description-product {
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 10px;
}

.price-product {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
}